<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>HOME</title>
</head>
<body>

	<div class="container">
		<ul class="nav nav-tabs">
			<li><%= link_to "Home", welcome_index_path %></li>
			<li><%= link_to "Reservation", navbar_Reservation_path %></li>
			<li><%= link_to "Room", navbar_Rooms_path %></li>
			<li><%= link_to "Facilities", navbar_Facilities_path %></li>
			<li><%= link_to "About", navbar_About_path %></li>
			<li><%= link_to "Contact", navbar_Contact_path %></li> 	 			
		</ul>
		<br>
        <div class="im-centered">
            <div class="row">
               <h1 class="fw">-Our Mission-</h1>
            </div>
           
        </div>
         <div class="ln-centered">
            <div class="row">
               <h2 class="fw">To provide the best hotel to our customer</h2>
            </div>
        </div>
        <hr>
		<div class="container">
            <div class="row">
            <div class="col-md-7">
                <h2>About Us</h2>
                <p><font size="4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</font></p>

                <p><font size="4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</font></p>    
            </div>
            <div class="col-md-4">
            <h3></h3>
            </div>
         </div>
        </div>
        <hr>
        <div class="container">
            <h2>Sponsers</h2>
            
            </div>
          </div>
        
        <hr>
            
	</div>




        <div class="container">
    <section style="height:80px;"></section>
	
    <!----------- Footer ------------>
    <footer class="footer-bs">
        <div class="row">
        	<div class="col-md-3 footer-brand animated fadeInLeft">
            	<h3>RIP-CITY HOTEL</h3>
                <p> Address: 2247 Copperhead Road, Hartford, CT 06103</p>

					<p>Tel: +860-631-7795</p>
					<p>Fax: +860-631-7796</p> 
					<p>Email: admin@gmail.com</p>
                <p>© 2016 HARAMBE, All rights reserved</p>
            </div>
        	<div class="col-md-4 footer-nav animated fadeInUp">
            	<h3>SPECIAL OFFER</h3>
            	<div class="col-md-6">
                    <ul class="pages">
                        <li><a href="#">Travel</a></li>
                        <li><a href="#">Nature</a></li>
                        <li><a href="#">Explores</a></li>
                        <li><a href="#">Science</a></li>
                        <li><a href="#">Advice</a></li>
                    </ul>
                </div>
            	<div class="col-md-6">
                    <ul class="list">
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Contacts</a></li>
                        <li><a href="#">Terms & Condition</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                    </ul>
                </div>
            </div>
        	<div class="col-md-2 footer-social animated fadeInDown">
            	<h4>Follow Us</h4>
            	<ul>
                	<li><a href="#">Facebook</a></li>
                	<li><a href="#">Twitter</a></li>
                	<li><a href="#">Instagram</a></li>
                	<li><a href="#">RSS</a></li>
                </ul>
            </div>
        	<div class="col-md-3 footer-ns animated fadeInRight">
            	<h4>Newsletter</h4>
                <p>A rover wearing a fuzzy suit doesn’t alarm the real penguins</p>
                <p>
                    <div class="input-group">
                      <input type="text" class="form-control" placeholder="Search for...">
                      <span class="input-group-btn">
                        <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-envelope"></span></button>
                      </span>
                    </div><!-- /input-group -->
                 </p>
            </div>
        </div>
    </footer>

</div>

	</body>
</html>