<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>HOME</title>
</head>
<body>

	<div class="container">
		<ul class="nav nav-tabs">
			<li><%= link_to "Home", welcome_index_path %></li>
			<li><%= link_to "Reservation", navbar_Reservation_path %></li>
			<li><%= link_to "Room", navbar_Rooms_path %></li>
			<li><%= link_to "Facilities", navbar_Facilities_path %></li>
			<li><%= link_to "About", navbar_About_path %></li>
			<li><%= link_to "Contact", navbar_Contact_path %></li> 	 			
		</ul>
		<br>
        

        <!-- Main Section -->
         <h1>   FACILITIES AND SERVICES</h1>
    <div class="col-md-6">
       
    <br>
        <h3>FITNESS CENTER</h3>
        <img src="/assets/gym.jpg" alt="gym1" width="100%" height="200px">
        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui.</p>

        <h3>FUN & SPORTS</h3>
        <img src="/assets/golf.jpg" alt="golf1" width="100%" height="200px">
        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui.<p>

        <h3>WATER SPORTS</h3>
        <img src="/assets/diving.jpg" alt="diving1" width="100%" height="200px">
        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui.</p>

    </div>

    <div class="col-md-6">
    <br>
        <h3>SPA MASSAGE</h3>
        <img src="/assets/spa.jpg" alt="spa1" width="100%" height="200px">
        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui.</p>

        <h3>SWIMMING POOL</h3>
        <img src="/assets/swimming.jpg" alt="swimming1" width="100%" height="200px">
        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui.</p>

        <h3>FOOD & DRINK</h3>
        <img src="/assets/food.jpg" alt="food1" width="100%" height="200px">
        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui.</p>

    </div>

    </div>

	<div class="container">
    <section style="height:80px;"></section>
	
    <!----------- Footer ------------>
    <footer class="footer-bs">
        <div class="row">
        	<div class="col-md-3 footer-brand animated fadeInLeft">
            	<h3>RIP-CITY HOTEL</h3>
                <p> Address: 2247 Copperhead Road, Hartford, CT 06103</p>

					<p>Tel: +860-631-7795</p>
					<p>Fax: +860-631-7796</p> 
					<p>Email: admin@gmail.com</p>
                <p>© 2016 HARAMBE, All rights reserved</p>
            </div>
        	<div class="col-md-4 footer-nav animated fadeInUp">
            	<h3>SPECIAL OFFER</h3>
            	<div class="col-md-6">
                    <ul class="pages">
                        <li><a href="#">Travel</a></li>
                        <li><a href="#">Nature</a></li>
                        <li><a href="#">Explores</a></li>
                        <li><a href="#">Science</a></li>
                        <li><a href="#">Advice</a></li>
                    </ul>
                </div>
            	<div class="col-md-6">
                    <ul class="list">
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Contacts</a></li>
                        <li><a href="#">Terms & Condition</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                    </ul>
                </div>
            </div>
        	<div class="col-md-2 footer-social animated fadeInDown">
            	<h4>Follow Us</h4>
            	<ul>
                	<li><a href="#">Facebook</a></li>
                	<li><a href="#">Twitter</a></li>
                	<li><a href="#">Instagram</a></li>
                	<li><a href="#">RSS</a></li>
                </ul>
            </div>
        	<div class="col-md-3 footer-ns animated fadeInRight">
            	<h4>Newsletter</h4>
                <p>A rover wearing a fuzzy suit doesn’t alarm the real penguins</p>
                <p>
                    <div class="input-group">
                      <input type="text" class="form-control" placeholder="Search for...">
                      <span class="input-group-btn">
                        <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-envelope"></span></button>
                      </span>
                    </div><!-- /input-group -->
                 </p>
            </div>
        </div>
    </footer>

</div>

	</body>
</html>