<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>HOME</title>
</head>
<body>

	<div class="container">
		<ul class="nav nav-tabs">
			<li><%= link_to "Home", welcome_index_path %></li>
			<li><%= link_to "Reservation", navbar_Reservation_path %></li>
			<li><%= link_to "Room", navbar_Rooms_path %></li>
			<li><%= link_to "Facilities", navbar_Facilities_path %></li>
			<li><%= link_to "About", navbar_About_path %></li>
			<li><%= link_to "Contact", navbar_Contact_path %></li> 	 			
		</ul>
		<br>

        <h2>ROOMS AND SUITES</h2>
        <div class="col-md-6">

            <h3>SINGLE ROOM</h3>
            <img src="/assets/single" alt="single1" width="100%" height="200px">
            <h4>Wake up to this traditional room with 25-inch TV and on-demand movies. The comfortable room, with opening windows, has 1 single bed. Sleeps 1 adult.</h4>
            <button type="button" class="btn btn-primary btn-lg">Check Availbility</button>
        </div>

        <div class="col-md-6">

            <h3>DOUBLE ROOM</h3>
            <img src="/assets/double" alt="double2" width="100%" height="200px">
            <h4>Feel at home in this spacious room with sea views, a desk and a 21-inch TV. The bright and airy room, in calm tones, has 1 double bed. Maximum occupancy 2 adults..</h4>
            <button type="button" class="btn btn-primary btn-lg">Check Availbility</button>
        </div>

        <div class="col-md-6">

            <h3>TRIPLE ROOM</h3>
            <img src="/assets/triple" alt="triple1" width="100%" height="200px">
            <h4>A spacious room with a sea view and a 32-inch TV. The bright and airy room, in cool, calm tones, has 1 double bed and a single bed. Maximum occupancy 3 adults.</h4>
            <button type="button" class="btn btn-primary btn-lg">Check Availbility</button>
        </div>

        <div class="col-md-6">

            <h3>LUXURY ROOM</h3>
            <img src="/assets/luxury" alt="luxury1" width="100%" height="200px">
            <h4>Wrap up in a fluffy bathrobe in this spacious room with views of the sea all around. The room has 2 double beds and a balcony. Maximum occupancy 4 adults.</h4>
            <button type="button" class="btn btn-primary btn-lg">Check Availbility</button>
        </div>

	</div>
	<div class="container">
    <section style="height:80px;"></section>
	
    <!----------- Footer ------------>
    <footer class="footer-bs">
        <div class="row">
        	<div class="col-md-3 footer-brand animated fadeInLeft">
            	<h3>RIP-CITY HOTEL</h3>
                <p> Address: 2247 Copperhead Road, Hartford, CT 06103</p>

					<p>Tel: +860-631-7795</p>
					<p>Fax: +860-631-7796</p> 
					<p>Email: admin@gmail.com</p>
                <p>© 2016 HARAMBE, All rights reserved</p>
            </div>
        	<div class="col-md-4 footer-nav animated fadeInUp">
            	<h3>SPECIAL OFFER</h3>
            	<div class="col-md-6">
                    <ul class="pages">
                        <li><a href="#">Travel</a></li>
                        <li><a href="#">Nature</a></li>
                        <li><a href="#">Explores</a></li>
                        <li><a href="#">Science</a></li>
                        <li><a href="#">Advice</a></li>
                    </ul>
                </div>
            	<div class="col-md-6">
                    <ul class="list">
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Contacts</a></li>
                        <li><a href="#">Terms & Condition</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                    </ul>
                </div>
            </div>
        	<div class="col-md-2 footer-social animated fadeInDown">
            	<h4>Follow Us</h4>
            	<ul>
                	<li><a href="#">Facebook</a></li>
                	<li><a href="#">Twitter</a></li>
                	<li><a href="#">Instagram</a></li>
                	<li><a href="#">RSS</a></li>
                </ul>
            </div>
        	<div class="col-md-3 footer-ns animated fadeInRight">
            	<h4>Newsletter</h4>
                <p>A rover wearing a fuzzy suit doesn’t alarm the real penguins</p>
                <p>
                    <div class="input-group">
                      <input type="text" class="form-control" placeholder="Search for...">
                      <span class="input-group-btn">
                        <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-envelope"></span></button>
                      </span>
                    </div><!-- /input-group -->
                 </p>
            </div>
        </div>
    </footer>

</div>

	</body>
</html>