<%= render 'shared/header_staff' %>

<%= form_for :checkin, url:booking_update_path, html: {class: "form-horizontal"} do |f|  %>
  <fieldset>

<!-- Form Name -->
<legend>Check In</legend>

<!-- Text input-->
<div class="form-group">
  <%= f.label :name, "Name", class: "col-md-4 control-label" %>
  <div class="col-md-4">
    <%= f.text_field :name, class: "form-control input-md", placeholder: "Name",
      value: @booking.name %>
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <%= f.label :email, "Email", class: "col-md-4 control-label" %>
  <div class="col-md-4">
    <%= f.text_field :email, class: "form-control input-md", placeholder: "Email",
      value: @booking.email %>
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <%= f.label :address, "Address", class: "col-md-4 control-label" %>
  <div class="col-md-4">
    <%= f.text_area :address, class: "form-control input-md", placeholder: "Address",
      value: @booking.address %>
  </div>
</div>

<!-- Select Basic -->
<div class="form-group">
  <%= f.label :room_type, "Room Type", class: "col-md-4 control-label" %>
  <div class="col-md-4">
    <%= f.select :room_type, options_for_select([["Single Room", "single"],
                                                ["Double Room", "double"],
                                                ["Triple Room", "triple"],
                                                ["Luxury Room", "luxury"]],
                                                @booking.room_type || 0),
                                                {}, class: "form-control" %>
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <%= f.label :room_id, "Room ID", class: "col-md-4 control-label" %>
  <div class="col-md-4">
    <%= f.text_field :room_id, class: "form-control input-md", placeholder: "Room ID" %>
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <%= f.label :reservation_id, "Reservation ID", class: "col-md-4 control-label" %>
  <div class="col-md-4">
    <div class="input-group">
      <%= f.text_field :reservation_id, class: "form-control input-md",
        placeholder: "Reservation ID", value: @booking.reservation_id %>
      <span class="input-group-btn">
        <%= button_tag(type: 'submit', class: "btn btn-default", value:"search") do %>
          <i class="glyphicon glyphicon-search"></i>
        <% end %>
      </span>
    </div>
  </div>
</div>

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label"></label>
  <div class="col-md-8">
    <%= f.submit "Check In", class: "btn btn-success" %>
  </div>
</div>

  </fieldset>
<% end %>

<%= render 'shared/rooms_table' %>
