<%= render 'shared/header_staff' %>

<%= form_for :checkout, url:room_checkout_path, html: {class: "form-horizontal"} do |f|  %>
  <fieldset>

<!-- Form Name -->
<legend>Check Out</legend>

<!-- Text input-->
<div class="form-group">
  <%= f.label :room_id, "Room ID", class: "col-md-4 control-label" %>
  <div class="col-md-4">
    <%= f.text_field :room_id, class: "form-control input-md", placeholder: "Room ID" %>
  </div>
</div>

<!-- Button (Double) -->
<div class="form-group">
  <label class="col-md-4 control-label"></label>
  <div class="col-md-8">
    <%= f.submit "Check out", class: "btn btn-danger" %>
  </div>
</div>

  </fieldset>
<% end %>

<%= render 'shared/rooms_table' %>
