<%= render 'shared/header_staff' %>

<%= form_for :room, url:room_update_path, html: {class: "form-horizontal"} do |f|  %>
  <fieldset>

<!-- Form Name -->
<legend>Room Modification</legend>

<!-- Text input-->
<div class="form-group">
  <%= f.label :room_id, "Room ID", class: "col-md-4 control-label" %>
  <div class="col-md-4">
    <%= f.text_field :room_id, class: "form-control input-md", placeholder: "Room ID" %>
  </div>
</div>


<!-- Select Basic -->
<div class="form-group">
  <%= f.label :room_type, "Room Type", class: "col-md-4 control-label" %>
  <div class="col-md-4">
    <%= f.select :room_type, options_for_select([["Single Room", "single"],
                                                ["Double Room", "double"],
                                                ["Triple Room", "triple"],
                                                ["Luxury Room", "luxury"]],
                                                0), {}, class: "form-control" %>
  </div>
</div>

<!-- Button (Double) -->
<div class="form-group">
  <label class="col-md-4 control-label"></label>
  <div class="col-md-8">
    <%= f.submit "Create", class: "btn btn-success" %>
    <%= f.submit "Delete", class: "btn btn-danger" %>
  </div>
</div>

  </fieldset>
<% end %>
  
<%= render 'shared/rooms_table' %>

