<ul class="nav nav-tabs">
  <li><%= link_to "Home", root_path %></li>
  <li><%= link_to "Reservation", navbar_Reservation_path %></li>
  <li><%= link_to "Room", navbar_Rooms_path %></li>
  <li><%= link_to "Facilities", navbar_Facilities_path %></li>
  <li><%= link_to "About", navbar_About_path %></li>
  <li><%= link_to "Contact", navbar_Contact_path %></li> 	 			
</ul>
<br>
